* {
    margin:0px;
    padding:0px;
}

body {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
color: white;
}

#header { grid-area: header; }
#nav { grid-area: nav; }
.section { grid-area: main; }
#footer { grid-area: footer; }

.wrapper {
  display: grid;
  grid-template-areas:
  'header header header header header header'
  'nav nav nav nav nav nav'
  'main main main main main main'
  'footer footer footer footer footer footer' ;

  grid-gap: 10px;
  background-color: black;
  padding: 10px;
}

.wrapper > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
}


.section {
  background-color: black;
}

#footer{
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 80%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

ul.nav {
  background:black;
  padding: 10px;
}

ul li.nav {
  background: black;
  padding: 5px;
  border: solid 2px white;
  display: inline-block;
}

ul li:hover.nav {
  border: solid 2px cyan;
}

ul a {
  color: white;
  text-decoration: none;
}

ul a:hover {
  color: cyan;
}

ul li.contact {
  display: block;
  text-align: left;
}
